@tailwind base;

@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
    a {
        @apply text-blue-600 underline;
    }
    .react-pdf__Page__canvas {
        margin: 0 auto;
        width: 80% !important;
        height: 100% !important;
    }
}

@tailwind components;
@tailwind utilities;